@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-family-orbitron: "Orbitron", sans-serif;
}

@utility font-orbitron {
  font-family: var(--font-family-orbitron);
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  text-decoration: none;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/Orbitron-Medium.ttf');
}